@import '../../../../styles/colors';
.card-header {
  background: $bg-pink;
}
:host::ng-deep{
    .mat-chip{
        background-color: $bg-gray !important;
        color: white;
        cursor: pointer;
        font-size: 25px;
        position: relative;
        .text-chip {
          display: block;
          width: 100%;
          text-align: center;
        }
      }
}