<div *ngIf="isArtist">
    <div class="card border-light" *ngIf="artist$ | async as artist;"> 
        <div class="card-header text-light font-weight-bold">
            Artist information
        </div>
        <div class="card-body row">
            <div class="col-md-6">
                <img src="{{artist.strArtistFanart}}">
                <a [routerLink]="['/album-list', artist.strArtist]">
                    <mat-chip-list class="mat-chip-list-stacked">
                        <mat-chip>
                            <div class="text-chip">View albums</div>
                        </mat-chip>
                    </mat-chip-list>
                </a>
            </div>
            <div class="col-md-6">
                <span><h3>Name:</h3> {{artist.strArtist}}</span>
                <span><h3>Genre:</h3> {{artist.strGender}}</span>
                <span><h3>Bio:</h3> {{artist.strBiographyEN}}</span>
            </div>
        </div>
    </div>
    
    <div class="card-header text-light font-weight-bold" *ngIf="isError">
        An error occurs
    </div>
</div>