@import '../../../../styles/colors';
.bg-info{
    width: 60%;
    margin: 0 auto;
    background: $bg-gray!important;
    button{
        background: $bg-pink;
        color: white;
    }
}

:host::ng-deep {
    .mat-form-field-infix{
        input {
            outline-color: transparent;
            border: none;
            cursor: pointer;
            &:focus {
                outline: initial;
                border: none;
                box-shadow: initial!important;
            }
        }
    }
    .form-group{
        max-height: initial!important;
        overflow: initial!important;
        padding: 30px;
        background: white;
        .mat-form-field-appearance-legacy .mat-form-field-wrapper{
            width: 50%;
            height: 78px;
            margin: 0 auto;
        }
        .mat-form-field{
            width: 100%;
            margin: 0 auto;
            color: black;
        }
    }
}