<div class="bg-info">
    <div class="container">
        <div class="row">
            <form 
                [formGroup]="formArtist"
                class="col card text-white bg-transparent mb-5 pt-5 pb-2">
                <fieldset>
                    <legend class="text-center">Search an artist...</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Artist</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        class="form-control"
                                        name="artist"
                                        placeholder="Type an artist"
                                        formControlName="artist"
                                    />
                                    <mat-error *ngIf="
                                        this.formArtist.controls.artist.errors !== null &&
                                        artist.invalid && artist.touched
                                    ">
                                      Artist is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <button
                        [disabled]="formArtist.invalid"
                        class="btn float-right col-md-2"
                        (click)="searchArtist()"
                    >
                        Search
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>